# IDE files
__pycache__/
aiml/__pycache__/
functions/__pycache__/
resources/__pycache__/
stages/__pycache__/
resources/banners/logs_banner1.txt
models/
downloads/
dump/
notification.json
luna-node-api/node_modules/
luna-node-api/package-lock.json/

# Run time generated
resources/banners/logs_banner1.txt
logs/luna.log
logs/nlu_logs.txt
conf/set
ok.txt
dump_*/

ac.py
ac2.py
db-migration/sandbox.py
everyone.json
extraction_list.txt
functions/extractor/utils.py
functions/extractor/x2.py
functions/games/
functions/nlu/
history.txt
live-graph.py
persistence/.coverage
persistence/run_tests.sh
resources/banners/.banner1.py.swp
wordlist.txt
terminal_history.txt
